.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 14rem;
  height: calc(100vh - 5rem);
}

.postInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.buttonModePreview  {
  padding: 1rem;
  font-weight: bold;
  background: var(--heading);
  text-align: center;
  border-radius: .30rem;
  opacity: 1;
  cursor: pointer;
  transition: opacity .2s;

  &:hover {
    opacity: .9;
  }
}

.modePreviewContainer {
  padding: 3rem 0 5rem;
}