.loadMorePostsButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  color: var(--highlight);
  padding-bottom: 3rem;
}

.postContainer {
 & + li {
    margin-top: 2.5rem;
 }

  h1 {
    margin-bottom: 0.75rem;
    transition: color .2s;
  }

  p {
    margin-bottom: 1.75rem;
  }

  &:last-child {
    padding-bottom: 2.5rem;
  }


  &:hover h1{
    color: var(--highlight);
  }
}